{
  "extends": ["standard", "standard-react"],
  "rules": {
    "react/prop-types": 0,
    "generator-star-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "space-before-function-paren": ["error", "never"],
    "jsx-boolean-value": ["never", "always"]
  }
}
